<%- include("partials/header") -%>

  <div class="box" id="heading">
    
    <h6> <%= listTitle %> </h6>
    </div>
    <div class="box" id="heading">
    <h1>TO DO LIST</h1>
  </div>
  <div class="list">
  <%  listItems.forEach(function(item){ %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%=item.name%></p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
  <%  }) %>
      <form class="item" action="/list" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <div class="plus">
        <button  class="plusbtn" type="submit" name="list" value="<%= listTitle %>">+</button>
      </div>
      </form>
  </div>
  <div class="but">
    <a class="btn btn-secondary btn-lg " href="/" role="button">Log Out</a>
  </div>
<%- include("partials/footer") -%>
